h1 {
    text-align: center;
}

p {
    text-align: center;
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
}

.fieldset1 {
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
}

.fieldset2 {
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}